footer.bg-dark.text-light.mt-5.pt-4.pb-2
  .container
    .row
      .col-md-4
        h5 Về Vinabook
        ul.list-unstyled
          li: a.text-light(href="/about") Giới thiệu công ty
          li: a.text-light(href="/contact") Liên hệ
          li: a.text-light(href="/careers") Tuyển dụng
      .col-md-4
        h5 Hỗ trợ khách hàng
        ul.list-unstyled
          li: a.text-light(href="/help/payment") Thanh toán
          li: a.text-light(href="/help/shipping") Vận chuyển
          li: a.text-light(href="/help/returns") Đổi trả
      .col-md-4
        h5 Kết nối
        ul.list-inline
          li.list-inline-item: a.text-light(href="#") Facebook
          li.list-inline-item: a.text-light(href="#") Instagram
          li.list-inline-item: a.text-light(href="#") YouTube

    .text-center.mt-3
      small © 2025 Vinabook.com - Nhà sách trực tuyến
